*
{
    font-size: 16px;
}

html {
    background: rgb(54, 54, 54);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Avenir Next", sans-serif;
    text-align: center;
    overflow-y: scroll;
    color: rgb(230, 230, 230);
}

body.disabled
{
    background: rgb(46, 46, 48);
    border-left: 1px solid rgb(54, 54, 54);
}

p
{
    margin: 0;
    padding: 0;
    line-height: 24px;
    min-height: 24px;
    display: inline; /* display:inline is necessary for proper newline index detection! */
}

p.newline
{
    display: inline;
}

a
{
    cursor: pointer;
}

#editor
{
    min-height: 100%;
    text-align: left;
    margin: 0;
    padding: 52px 0 52px 52px;
    border: 0;
    font-size: 16px;
    outline: 0;
    resize: none;
    box-sizing: border-box;
    
    -webkit-nbsp-mode: space; /* This fixes bad wrapping on task overview */
}

/* Token styling */

.heading
{
    padding: 9px 0;
    font-weight: 500;
    display: inline;
}

.heading-prefix
{
    color: #c5c5c5;
}

/* This crazy syntax yummy stuff fixes tiny caret issue. Together with *{font-size} above */

.heading-level-1 > *
{
    font-size: 32px;
}

.heading-level-2 > *
{
    font-size: 22px;
}

.heading-level-3 > *
{
    font-size: 18px;
}

.tag
{
    background: rgb(95, 95, 95);
    border-radius: 12px;
    padding: 0 7px 0 7px;
    cursor: pointer;
}

.tag-hash
{
    font-size: 14px;
    color: rgb(168, 168, 168);
}

.tag-text
{
    font-size: 14px;
    color: #c7c7c7;
}

.italic-asterisk,
.bold-asterisk,
.link-bracket,
.link-url-bracket,
.task-date-bracket,
.code-tick,
.codeblock-ticks
{
    color: #bebebe;
}

.italic-text
{
    font-style: italic;
}

.bold-text
{
    font-weight: bold;
}

.task
{
    clear: both;
}

.task-done 
{
    color: #a1a1a1;
}

.task-checkbox
{
    font-size: 22px;
    position: relative;
    top: 1px;
    padding-left: 6px;
    padding-right: 4px;
}

.task-date
{
    color: #a1a1a1;
    float: right;
}

.link-text
{
    color: rgb(84, 184, 255);
    text-decoration: none;
}

.link-url
{
    color: rgb(160, 160, 160);
}

.code, .codeblock
{
    white-space: pre-wrap;
    background: rgb(95, 95, 95);
    border-radius: 3px;
    padding: 2px 4px 2px 4px;
    font-family: "Andale Mono", monospace;
}

.codeblock
{
    display: block;
}

.code-text
{
    font-size: 15px;
}

.list-unordered-marker
{
    padding-left: 10px;
    padding-right: 10px;
}

.file
{
    display: inline-block;
    border: 1px solid lightgray;
    margin: 8px 0 8px 0;
    clear: both;
    border-radius: 6px;
    min-width: 200px;
}

.file-name
{
    display: inline-block;
    padding: 17px 17px 17px 0;
}

.file-icon
{
    display: inline-block;
    float: left;
    width: 30px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin: 10px;
}

.hidable-hidden
{
    display: none;
}













