<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:sparkle="http://www.andymatuschak.org/xml-namespaces/sparkle"  xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>

    <title>Shere {{version}}</title>
    <link>{{appcast_url}}</link>
    <description>Whatever description</description>
    <language>en</language>

      <item>
        <title>Version {{version}}</title>
        <description>
          <![CDATA[
            Whatever description hi bro
          ]]>
        </description>
        <pubDate>{{publish_date}}</pubDate>
        <enclosure url="{{dmg_url}}" sparkle:version="{{version}}" length="{{length}}" type="application/octet-stream" sparkle:dsaSignature="{{signature}}" />
      </item>

  </channel>
</rss>
